flask
requests
pandas
numpy==1.26.4
scikit-learn
python-telegram-bot==13.15
APScheduler==3.6.3
pytz>=2023.3
gunicorn

# ✅ torch CPU 전용
torch==2.1.2+cpu
-f https://download.pytorch.org/whl/cpu/torch_stable.html

# ✅ 시각화
matplotlib

# ✅ 모델들
xgboost
imbalanced-learn

# ✅ 피처 생성
ta

# ✅ 옵티마이저
ranger-adabelief==0.1.0
